.main-body {
    width: 100%;
}

.container-coloumn {
    display: flex;
    background-color: #c0bfbf;
}

.container-left {
    padding: 60px;
    width: 50%;
}

.container-right {
    width: 50%;
}
.container-right p {
    text-size-adjust: 12px;
}
